<!DOCTYPE html>
<html>
<head>
    <title>Game Page</title>
</head>
<body>
<h1>Game Page</h1>
<script>
    // Access game data:
    //const gameData = <%-// JSON.stringify(gameData) %>;
    //console.log(gameData);
</script>
</body>
</html>