<!DOCTYPE html>
<html lang="">
<head>
    <title>Welcome to Our Game</title>
</head>
<body>
<h1>Welcome to Our Awesome Game!</h1>
<p>Please <a href="/auth/login">login</a> or <a href="/auth/register">register</a> to start playing.</p>
</body>
</html>